rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Core function: require auth
    function isAuthenticated() {
      return request.auth != null;
    }

    // Is the user requesting access to their own data
    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

    // Match any document in the user's specific collection
    match /users/{userId}/{collection}/{documentId} {
      allow read, write: if isOwner(userId);
    }
  }
}
